.navbar {
  padding: 19px 0;
  background: $clr-primary-900;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  .container {
    @include flex(center, space-between, unset);
  }
}

.logo {
  width: 79px;
}

.nav {
  &__list {
    font-size: $fs-nav;
    display: flex;

    gap: clamp($size-400, 5vw, $size-700);
  }
  &__link {
    text-decoration: none;
    color: $clr-primary-100;
    font-weight: $fw-smi-bold;
    opacity: 0.8;
    &:hover,
    &:focus {
      color: $clr-accent-400;
    }
  }
}

@include breakpoint(md) {
  .nav {
    visibility: hidden;
    transform: scale(0);
    position: fixed;
    z-index: 10;
    padding: 2rem;
    inset: 4rem 0.25rem auto;
    width: 90vw;
    margin-inline: auto;
    @include bg-opacity($clr-primary-900, 0.8);
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0.75em rgb(0 0 0 / 5%);

    &__list {
      display: grid;
      gap: $size-700;
      text-align: center;
      font-weight: $fw-bold;
      font-size: $fs-300;
    }

    &[data-visible] {
      display: block;
    }
    & > * + * {
      border-top: 1px solid $clr-primary-600;
    }
  }
}

.navbar-wrap {
  .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;

    &:checked + .humburger > div {
      transform: rotate(135deg);
    }

    &:checked + .humburger > div::before,
    &:checked + .humburger > div::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:checked:hover + .humburger > div {
      transform: rotate(225deg);
    }

    &:checked ~ .nav {
      visibility: visible;
      transform: scale(1);
      transition: all 0.4s ease;
    }
  }

  .humburger {
    display: none;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: black;

    & > div {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: white;

      @include flex(center, center, unset);

      transition: all 0.4s ease;

      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background-color: inherit;
      }
      &::after {
        top: 10px;
      }
    }

    @include breakpoint(md) {
      @include flex(center, center, unset);
    }
  }
}
