.footer {
  background: $clr-primary-900;
  padding-top: 25px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.social-down {
  &__list {
    display: flex;
    font-size: $fs-650;
    gap: clamp($size-400, 5vw, $size-600);
  }
  &__link {
    color: #ccc;
    transition: color 0.2s ease;
    &:hover {
      color: $clr-primary-100;
    }
  }
}

.copyright {
  padding-block: 1em;
}
