.brand-bar {
  background-color: $clr-primary-100;
  box-shadow: 0 1px 2px $clr-primary-600;
  padding: 30px 0;
  .container {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: min($size-400, $size-900);
    @include breakpoint(md) {
      justify-content: center;
    }
  }
  &__text {
    padding: 1em 0;
    max-width: 42ch;

    @include breakpoint(md) {
      width: auto;
    }

    p {
      @include breakpoint(md) {
        display: none;
      }
    }
  }
}

.social-up {
  flex-grow: 1;
  &__list {
    display: flex;
    font-size: $fs-900;
    justify-content: flex-end;
    gap: clamp($size-500, 5vw, $size-900);
    @include breakpoint(md) {
      justify-content: space-evenly;
      font-size: $fs-700;
    }
  }
  &__link {
    color: $clr-primary-400;
    transition: color 0.2s ease;
    &:hover {
      color: $clr-primary-700;
    }
  }
}

/*tabs*/

.features {
  & > * {
    padding: 100px 0;
  }
  & > *:nth-child(odd) {
    background: $clr-neutral-200;
  }
  &__tab {
    .container {
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .third-heading {
    position: relative;
    padding-bottom: 1.75em;
    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;
      width: $size-900;
      height: 2px;
      background-color: $clr-accent-400;
    }
  }

  &__sublist {
    .container {
      align-items: center;
      justify-content: space-between;
      gap: clamp($size-200, 10vw, $size-950);
      @include breakpoint(md) {
        flex-direction: column-reverse;
      }
    }
  }

  &__content {
    flex: 1 0 40%;
  }
  &__paragraph {
    padding-top: 2.14em;
  }
}

.features__tab .tabs {
  flex: 1 0 70%;
}
.features__img {
  flex: 1 0 30%;

  @include breakpoint(md) {
    display: none;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  position: relative;
  //   margin: 3rem 0;
}

.tab {
  display: flex;
  justify-content: space-between;
  padding: 1px 0;
  //  flex-direction: column;

  &__switch {
    position: absolute;
    appearance: none;
  }
  &__label {
    cursor: pointer;

    position: relative;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    width: 110px;
    height: 110px;

    text-transform: uppercase;
    color: $clr-primary-100;
    font-weight: $fw-bold;
    background: $clr-primary-900;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);

    transition: all 0.25s;
  }
  &__label:hover {
    background: $clr-primary-700;
    // top: -0.25rem;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 14.14em;

    z-index: 1;
    opacity: 0;

    height: 100%;
    width: min(55ch, 60ch);
    padding: 0.5em 0;

    flex: 1 0 60ch;

    color: $clr-primary-600;
    transition: all 0.35s;
  }

  &__text {
    padding: 1.75em 0 3.5em;
    & > * + * {
      padding-top: 1.5em;
    }
  }

  &__switch:checked + .tab__label {
    background: $clr-accent-400;
    z-index: 1;
    &:hover {
      background: $clr-accent-300;
    }
  }
  &__switch:checked + label + .tab__content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }
}

@include breakpoint(sm) {
  .tabs {
    flex-direction: row;
  }

  .tab {
    flex: 0 1 33%;
    flex-direction: column;
    min-height: 25rem;
    &__content {
      top: 5.5em;
      left: 0;
      width: auto;
    }
    &__label {
      width: 100%;
      &:not(:last-child) {
        height: 55px;
        border-right: 1px solid $clr-primary-600;
      }
    }
  }
}

.sublist {
  &__item {
    display: flex;
    padding-top: 1.25em;
  }

  &__title {
    color: $clr-primary-800;
    padding-bottom: 8px;
    font-weight: $fw-smi-bold;
  }

  &__icon {
    width: 40px;
    height: 40px;

    border: 1px solid $clr-accent-400;
    border-radius: 100%;

    color: $clr-accent-400;
    font-size: $fs-500;
    text-align: center;

    padding: 0.688em 0;
  }
  &__txt {
    padding-left: 30px;
    width: min(50ch, (100% - 40px));
  }
}

.heading-block {
  text-align: center;

  padding-bottom: 3.6em;

  .primary-heading {
    position: relative;
    padding-bottom: 0.83em;

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 50%;
      width: $size-900;
      height: 2px;
      background-color: $clr-accent-400;
      transform: translateX(-50%);
    }
  }
  p {
    padding-block: 2.14em;
  }

  &_white {
    height: 325px;
    color: $clr-primary-200;
    font-family: $ff-accent;
    font-weight: $fw-light;
    padding: 0;

    .primary-heading {
      color: $clr-primary-100;

      &::after {
        background-color: $clr-primary-100;
      }
    }
  }
}

.about {
  padding-block: 7.14em;

  &__card-list {
    display: flex;
    gap: $size-600;

    @include breakpoint(sm) {
      flex-direction: column;
    }
  }
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    padding-block: 1.25em;
  }
  &__icon {
    width: 4.375rem;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid $clr-accent-400;
    font-size: $fs-700;
    color: $clr-accent-400;
  }
}

.pricing {
  background-color: $clr-neutral-200;
  padding-block: 7.14em;

  &__block {
    display: flex;
    align-items: flex-end;
    gap: 2.5rem;
    @include breakpoint(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.pricing-card {
  box-shadow: 0px 1px 2px $clr-primary-400;
  flex: 0 1 33.3333%;
  text-align: center;

  &_big {
    .pricing-card__cost {
      border: 0;
    }

    .description__item_special {
      color: $clr-primary-100;
      background-color: $clr-accent-400;
    }
  }
  &__title {
    background-color: $clr-primary-700;
    padding: 0.8em 0;
    border-bottom: 2px solid $clr-neutral-200;
    p {
      color: $clr-primary-100;
    }
  }
  &__cost {
    padding: 2.14em 0 1.42em;
    font-family: $ff-accent;
    font-weight: $fw-bold;
    color: $clr-primary-100;
    background-color: $clr-primary-700;
    border-bottom: 5px solid $clr-accent-400;
  }

  @include breakpoint(sm) {
    width: 100%;
  }
}

.currency {
  font-size: 30px;
}
.price {
  font-size: 70px;
  line-height: 1;
  padding-bottom: 20px;
}

.description {
  &__list {
    background-color: $clr-primary-100;
    width: 100%;

    & > * + * {
      border-top: 1px solid $clr-neutral-200;
    }
  }
  &__item {
    padding: 1em 0;
  }
}
.reviews {
  padding-block: 7.14em;
}
.review-card {
  &__review {
    position: relative;
    border-radius: 2px;
    background-color: $clr-neutral-200;
    padding: 1.7em 1em 2.9em;
    font-style: italic;

    &::after {
      content: '';

      position: absolute;
      bottom: -1em;
      left: 1.7em;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid $clr-neutral-200;
    }
  }

  &__user {
    padding-top: 1.7em;
    display: flex;
    gap: 1em;
  }
}

.custom-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .btn {
    @include breakpoint(md) {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}

.custom-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  padding-block: 7.14em;
  .contact-form {
    text-align: center;
    &__fieldset {
      display: flex;
      gap: 67px;

      & > * {
        flex: 0 1 50%;

        display: flex;
        flex-direction: column;
      }

      @include breakpoint(md) {
        flex-direction: column;
      }
    }
  }
  .form-half {
    flex: 1 0 50%;

    display: flex;
    flex-direction: column;
  }
  input:not(:last-child) {
    margin-bottom: 30px;
  }
  textarea {
    height: 100%;
  }
  .btn {
    margin-top: 43px;

    @include breakpoint(md) {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}
