%font-primary {
  font-family: 'Open Sans', Verdana, sans-serif;
}

%font-accent {
  font-family: 'Raleway', sans-serif;
}

%transition {
  transition: all 0.3s ease-out;
}

%bg-black {
  position: relative;
  &::after {
    content: '';

    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
