$clr-accent-400: #ff8b38;
$clr-accent-300: #ff9d52;

$clr-primary-900: #000000;
$clr-primary-800: #212121;
$clr-primary-700: #333333;
$clr-primary-600: #86878b;
$clr-primary-400: #bdbdbd;
$clr-primary-300: rgba(255, 255, 255, 0.702);
$clr-primary-200: rgba(255, 255, 255, 0.8);
$clr-primary-100: rgb(255, 255, 255);

$clr-neutral-200: #f5f5f5;
$clr-neutral-100: hsl(0, 0%, 100%);

$ff-primary: 'Open Sans', sans-serif;
$ff-accent: 'Raleway', sans-serif;

$ff-body: $ff-primary;
$ff-primary-heading: $ff-accent;

$fw-bold: 700;
$fw-smi-bold: 600;
$fw-medium: 500;
$fw-rgular: 400;
$fw-light: 300;

$fs-300: 0.875rem; /*14*/
$fs-400: 0.9375rem; /*15*/
$fs-500: 1rem; /*16*/
$fs-600: 1.25rem; /*20*/
$fs-650: 1.5rem; /*20*/
$fs-700: 2rem; /*32*/
$fs-800: 2.25rem; /*36*/
$fs-900: 3rem; /*48*/

$fs-body: $fs-300;
$fs-primary-heading: $fs-800;
$fs-secondary-heading: $fs-600;
$fs-third-heading: $fs-600;
$fs-nav: $fs-300;
$fs-button: $fs-400;

$size-100: 0.25rem;
$size-200: 0.5rem;
$size-300: 0.75rem;
$size-400: 1rem;
$size-500: 1.25rem;
$size-600: 2rem;
$size-700: 3rem;
$size-800: 3.6rem;
$size-900: 4rem;
$size-950: 9rem;
